* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

body {
  background-color :  #42b983;
  font-family : sans-serif;

}

#app {
  display : flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}